<!DOCTYPE html>
<html>
<head>
	<title>$title$</title>

	<meta charset="utf-8">
	$for(author)$
	<meta name="author" content="$author.name$" />
	$endfor$
  	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="icon" type="image/png" href="/qr/$permalink$">
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">	
</head>
	<body>
  	<header>
   	<a href="/$permalink$"><img src="/qr/$permalink$" alt="qr" class="qr"/></a>
        <div>
          <h1>
            <a href="/">fistfulofbytes</a>
          </h1>
          <ul>
		<li><a href="/">Index</a></li>
		<li><a href="https://sevki.io">About</a></li>
		<li>
			<details>
 				<summary>Feed <span style="" class="octicon octicon-rss"></span></summary>
				<ul>
					<li><a href="/feed.atom">Atom</a></li>	
					<li><a href="/feed.rss">RSS</a></li>
					<li><a href="/feed.json">JSON</a></li>
				</ul>
			</details>
		</li>
          </ul>
        </div>
      </header>
	<main>
	<div  >
		<h1>$title$</h1>
		<br/>
		<a href="index.pdf"><span class="octicon octicon-file-pdf"> PDF</a>
		<p class="byline">
			By $for(author)$
				$if(author.name)$
					<span class="name">$author.name$$if(author.affiliation)$ ($author.affiliation$)$endif$</span>
				$else$
					$author$
				$endif$		
			$endfor$ 
		<br/><span class="date">$date$</span>
		</p>
	</div>
 	$body$	
	<a href="javascript:history.back()">↩</a>
	<a href="#">⇪</a>
 	</main>
	<footer>
		<p>
		Except as noted, the content of this page is licensed under the <a href="//creativecommons.org/licenses/by/3.0/legalcode"> Creative Commons Attribution 3.0 License</a>
		    </p>
  
	</footer>
	</body>
</html>